<h1>Example with routing</h1>

<a class="btn btn-primary" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
<a class="btn btn-primary" routerLink="/users" routerLinkActive="active">Users</a>
<a class="btn btn-primary" routerLink="/product" routerLinkActive="active">Product (with service)</a>
<a class="btn btn-primary" routerLink="/form1" routerLinkActive="active">Form 1</a>
<a class="btn btn-primary" routerLink="/form2" routerLinkActive="active">Form 2</a>
<a class="btn btn-primary" routerLink="/load-f-http" routerLinkActive="active">Load from Http</a>
<hr>
<router-outlet></router-outlet>





