<h2>Cars component: </h2>
<h3>Log in for users page:</h3>
<button class="btn btn-success"  (click)="changeAuthStatus('login')">Log in</button>
<button class="btn btn-danger" (click)="changeAuthStatus('logouth')">Log out</button>
<hr>
<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>

<app-car *ngFor="let car of cars" [carItem]="car">
</app-car>

<hr>
<p>Pipe Filter example</p>
<h2>{{asyncTitle | async}}</h2>
<input type="text" class="form-control" [(ngModel)]="searchCar">
<br>
<ul class="list-group">
	<li class="list-group-item" *ngFor="let car of cars | carFilter:searchCar: ['name', 'year']; let i = index">
		<b>{{car.id}}</b> {{car.name}} <i>{{car.year}}</i>
	</li>
</ul>